<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Empty card</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akshar&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="content-row">
        <div class="col">
            <div class="dynamic card">
                <div class="card-img-wrapper"></div>
                <div class="card-header-content-wrapper">
                    <div class="card-header">
                        <div class="card-title-wrapper">
                            <input type="text" class="input-card input-card-half" placeholder="Word">
                            <input type="text" class="input-card input-card-half" placeholder="Transcription">
                        </div>
                        <input type="text" class="input-card input-card-full" placeholder="Definition"></p>
                    </div>
                </div>
                <div class="card-middle-content-wrapper">
                    <input type="text" class="input-card input-card-full" placeholder="Example">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>