<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Empty card</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akshar&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="content-row">
        <div class="col">
            <form method="get" onsubmit="return saveCard(this)">
                <div class="dynamic card">
                    <div class="card-img-wrapper">
                        <img class="card-img" th:src="@{/img/empty_image.png}">
                        <img class="dynamic dynamic-btm card-menu-img card-menu-img-delete" onclick="deleteCard(this)">
                        <img class="dynamic dynamic-btm card-menu-img card-menu-img-upload"
                             th:src="@{/img/upload_image_icon.png}">
                    </div>
                    <div class="card-header-content-wrapper">
                        <ul class="part-of-speech-list">
                            <li class="part-of-speech-item" th:each="partOfSpeech, iMean: ${partsOfSpeech}">
                                <button th:if="${iMean.index == 0}" type="button" class="active part-of-speech-btn dynamic dynamic-btm"
                                        onclick="changeInputPartOfSpeech(this)">
                                    <input type="radio"
                                           class="input-card-part-of-speech"
                                           th:name="'options0'"
                                           th:id="'option' + (${iMean.index} + 1)"
                                           th:value="${partOfSpeech}"
                                           th:text="${partOfSpeech}"
                                           checked>
                                </button>
                                <button th:if="${iMean.index != 0}" type="button" class="part-of-speech-btn dynamic dynamic-btm"
                                        onclick="changeInputPartOfSpeech(this)">
                                    <input type="radio"
                                           class="input-card-part-of-speech"
                                           th:name="'options0'"
                                           th:id="'option' + (${iMean.index} + 1)"
                                           th:value="${partOfSpeech}"
                                           th:text="${partOfSpeech}">
                                </button>
                            </li>
                        </ul>
                        <div class="card-header">
                            <div class="card-title-wrapper">
                                <input type="text" class="input-card input-card-word input-card-half"
                                       placeholder="Word" required>
                                <input type="text" class="input-card input-card-transcription input-card-half"
                                       placeholder="Transcription">
                            </div>
                            <input type="text" class="input-card input-card-definition input-card-full"
                                   placeholder="Definition" required></p>
                        </div>
                    </div>
                    <div class="card-middle-content-wrapper">
                        <ul class="card-list-examples">
                            <li class="block card-list-examples-item">
                                <div class="card-examples-wrapper">
                                    <input type="text" class="input-card input-card-list-examples-item input-card-pre-full"
                                           placeholder="Example">
                                    <img class="dynamic dynamic-btm card-menu-img card-menu-img-plus"
                                         th:src="@{/img/plus_icon.png}" onclick="addExampleFromImage(this)">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer-content-wrapper">
                        <div class="card-footer">
                            <button type="submit" class="card-footer-btn save-btn">SAVE</button>
                            <button type="button" class="card-footer-btn cancel-btn">CANCEL</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>