<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Empty example</title>
</head>
<body>
    <div class="card-middle-content-wrapper">
        <ul class="card-list-examples">
            <li class="block card-list-examples-item">
                <div class="card-examples-wrapper">
                    <input type="text" class="input-card input-card-pre-full" placeholder="Example">
                    <img class="dynamic dynamic-btm card-menu-img card-menu-img-plus"
                         th:src="@{/img/minus_icon.png}" onclick="deleteExample(this)">
                </div>
            </li>
        </ul>
    </div>
</body>
</html>