<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Vocabulary Trainer</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akshar&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body>

<div class="wrapper">
    <div class="grid">
        <div class="header-row">
            <nav class="navbar">
                <div class="navbar-brand">
                    <img class="dynamic dynamic-btm navbar-hamburger-img" th:src="@{/img/hamburger_menu_icon.png}"
                         alt="" onclick="addCard()">
                    <label class="navbar-label">VOCABULARY TRAINER</label> //
                </div>
                <form class="navbar-search-form">
                    <input class="navbar-search-input" type="search" placeholder="Search">
                    <img class="navbar-search-btn" th:src="@{/img/search_icon.png}" alt="">
                </form>
            </nav>
        </div>
        <div class="content-row">
            <div class="col" th:each="card, iCard: ${cards}">
                <div class="dynamic card">
                    <div class="card-img-wrapper">
                        <img class="dynamic dynamic-btm card-menu-img card-menu-img-edit" onclick="changeMode(this)"
                             th:src="@{/img/edit_icon.png}">
                        <img class="dynamic dynamic-btm card-menu-img card-menu-img-delete" onclick="deleteCard(this)"
                             th:src="@{/img/delete_icon.png}">
                        <img class="card-img" th:src="${card.imageLinks[0].url}">
                    </div>
                    <div class="card-header-content-wrapper">
                        <div class="dynamic dynamic-btm card-menu-img card-menu-synonym">S</div>
                        <div class="dynamic dynamic-btm card-menu-img card-menu-antonym">A</div>
                        <ul class="part-of-speech-list">
                            <li class="part-of-speech-item" th:each="meaning, iMean: ${card.meanings}">
                                <button th:if="${iMean.index == 0}"
                                        class="active part-of-speech-btn dynamic dynamic-btm"
                                        onclick="changePartOfSpeech(this)">
                                    <input type="radio"
                                           class="part-of-speech-radio"
                                           th:name="'options' + (${iCard.index} + 1)"
                                           th:id="'option' + (${iMean.index} + 1)"
                                           th:text="${meaning.partOfSpeech}"
                                           checked>
                                </button>
                                <button th:if="${iMean.index != 0}" class="part-of-speech-btn dynamic dynamic-btm"
                                        onclick="changePartOfSpeech(this)">
                                    <input type="radio"
                                           class="part-of-speech-radio"
                                           th:name="'options' + (${iCard.index} + 1)"
                                           th:id="'option' + (${iMean.index} + 1)"
                                           th:text="${meaning.partOfSpeech}">
                                </button>
                            </li>
                        </ul>
                        <div class="card-header">
                            <div class="card-title-wrapper">
                                <h5 class="card-word" th:text="${card.word}"></h5>
                                <h5 class="card-transcription" th:text="${card.transcription}"></h5>
                            </div>
                            <p class="card-definition" th:text="${card.meanings[0].definition}"></p>
                        </div>
                    </div>
                    <div class="card-middle-content-wrapper">
                        <ul class="card-list-examples">
                            <li class="card-list-examples-item" th:each="example: ${card.meanings[0].examples}"
                                th:text="${example.text}">
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer-content-wrapper">
                        <div class="card-footer">
                            <button class="card-footer-btn learn-btn"> LEARN</button>
                            <button class="card-footer-btn repetition-btn"> REPETITION</button>
                            <button class="card-footer-btn known-btn"> KNOWN</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/scripts/main.js}"></script>
<script th:src="@{/scripts/ajax.js}"></script>
<script th:src="@{/scripts/cardRegistration.js}"></script>
</body>
</html>